@use '@styles/abstracts' as *;

/* @define bible */
.bible {
    display: flex;
    flex-flow: row nowrap;
	gap: rem(4);
    justify-content: center;
	padding: rem(5);
	background-color: hsl(0deg 0% 54% / 35%);
	border-radius: rem(5);
}

.bible__book,
.bible__chapter {
    font-size: rem(8);
}

.bible__chapter {
	letter-spacing: 2.5;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .bible__book,
    .bible__chapter {
        opacity: 0;
        animation: fade-in 2s forwards;
    }

    .bible__book {
        animation-delay: 0s;
    }

    .bible__chapter {
        animation-delay: 1s;
    }
}
